/*
  You can define css freely.

  Note that the css here applies not only on the
  admin but also on clients. You are free to use
  this feature-not-a-bug as you like, but we suggest
  prefixing admin-specific css to avoid unwanted
  behaviour.
*/

.container {
  padding-top: 5px;
}

.btn {
  padding: 12px;
}

#admin-button-csv {
    background-color: DodgerBlue;
}

#admin-button-csv:hover {
  background-color: RoyalBlue;
}

#latencygraphcontainer {
  border: 1px solid lightgray;
}

#networkgraphcontainer {
  border: 1px solid lightgray;
}

#networkgraph {
  height: 250px;
}
